#################
## DNN nl-NL.resx translations from a working site
#################

# Forget all files
*

# Except the following
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*/

# And certainly not the translated resx files
!*nl-NL.resx
